<div class="container">
  <div class="row" style=" height: auto; margin: 30px 0;">
    <div class='mx-auto col-12 col-sm-10 col-lg-8 col-xl-6'>
    <h1>welcome to <i class="fa-solid fa-book"></i>Bookers3!</h1><br>

    <h6>In <i class="fa-solid fa-book"></i>Bookers3,</h6><br>
    
    <h6>you can share and exchange your opinions , inpressions , and emotions</h6><br>
    
    <h6>about various books!</h6>
    
    <%= link_to 'Log in', new_user_session_path, class: "btn btn-info btn-block" %>
    <%= link_to 'Sign in', new_user_registration_path, class: "btn btn-success btn-block" %>
    </div>
  </div>
</div>